@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

.index-title {
    /* padding: 30px 0;*/
    color: #FFF;
    /* Color del texto en blanco */
    font-family: 'Raleway', sans-serif;
    /* font-size: 1.2em;*/
    /* font-weight: 700;*/
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    /* Sombreado del texto */
    text-transform: uppercase;
    /* Convierte el texto a mayúsculas, si es necesario */
}

.index-sub {
    font-family: 'Raleway', sans-serif;
    text-shadow: 2px 2px 4px hwb(0 0% 100% / 0.5);
}

.site-index .btn-success {
    /*background-color: rgb(248, 83, 18);*/
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
    padding: 15px 20px;
    border: none;
    color: #FFF;
    transition: background-color 0.3s, transform 0.2s;
    margin: 10px;
}

.site-index .btn-success:hover {
    transform: scale(1.05);
}

.card-effect {
    transition: transform 0.3s ease, filter 0.3s ease;
    font-family: 'Raleway', sans-serif;
}

.card-effect:hover {
    transform: scale(1.03);
    filter: brightness(140%);
}

.dark-img {
    filter: brightness(60%);
    /* Ajusta este valor según tu preferencia */
}


.cropped-image {
    height: 300px;
    /* Altura deseada por defecto */
    display: flex;
    align-items: center;
    overflow: hidden;
}

.cropped-image img {
    width: 100%;
    object-fit: cover;
}

/* Media query para pantallas pequeñas */
@media screen and (max-width: 768px) {
    .cropped-image {
        height: auto;
        /* Cambia la altura a automático en pantallas pequeñas */
    }

    .site-index .display-4 {
        font-size: 1.8em;
    }

    .site-index .carousel-control-prev,
    .site-index .carousel-control-next {
        opacity: 0;
        /* Cambia este valor según tu preferencia */
    }
}